<!DOCTYPE html>
<html ng-app="myModule">
<link rel="stylesheet" href="assets/css/style.css">
<script src="angular/angular.js"></script>
<script src= "app/app12.js"></script>
<body>

<h3>Sarch Filter by multiple properties in angular js.</h3>

Filter by multiple properties.
<div ng-controller="myController">
 <p>Search By: 
 <input type="search" placeholder="Search name" ng-model="searchText.name">
 <input type="search" placeholder="Search city" ng-model="searchText.city">
 <input type="checkbox" ng-model="extactMatch"> Exact Match 
</p>


<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Gender</td>
            <td>Salery</td>
            <td>City</td>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in employees | filter:searchText:extactMatch">
            <td> {{ employee.name  }} </td>
            <td> {{ employee.gender | date:"dd/MM/yy" }} </td>
            <td> {{ employee.salary | number:2 }} </td>
            <td> {{ employee.city }} </td>
            
            
        </tr>
    </tbody>
</table>

</div>


</body>

</html>
